.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    
}

.header-transparent {
    background: rgba(0, 0, 0, 0.25);
}